<%= f.input :label, :wrapper => :prepend, :label => false do %>
  <%= content_tag :span, "Title", :class => "add-on" %>
  <%= f.input_field :label %>
<% end %>
<div class="form-actions">
	<%= f.link_to_remove "Remove Column", class: "btn btn-primary" %>
</div>